.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1{
  text-align: center;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',

}

calcContainer{
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

displayContainder{
  flex: 1;
  flex-direction: column;
}

display{
  flex: 1;
  background-color: black;
  padding-left: 483px;
  color: white;
  font-size: 30px;


}

numbers{
  flex: 2;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #bbc1cf;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  text-align: center;
}


row1{

  display: flex;
  flex-direction: row;
  width: auto;
  width: 500px;

}

row2{
  display: flex;
  flex-direction: row;
  width: auto;
  width: 500px;

}

row3{
  display: flex;
  flex-direction: row;
  width: 500px;

}

row4{
  display: flex;
  flex-direction: row;
  width: 500px;

}


